---
// @ts-nocheck


---

<header>
        <nav>
            <a href="/">Jean-Carlo's<br>Web design & Dev</a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projecten">Projecten</a></li>
                <li><a href="/about-me">About Me</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <button class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </header>
