---
// @ts-nocheck

const { HeroTop, HeroBottom } = Astro.props
---

<section class="hero-section">
    <h1>
        <span>{HeroTop}</span> <br>
        <span>{HeroBottom}</span>
    </h1>
</section>
